In [59]:
import pandas as pd
import numpy as np

In [60]:
# constants

PATH: str = "../data/spadl_format/"
RANDOM_STATE: int = 42

In [61]:
df: pd.DataFrame = pd.read_csv(f"{PATH}England.csv", index_col=0)
df.head(10)

,game_id,period_id,time_seconds,team_id,player_id,start_x,start_y,end_x,end_y,original_event_id,bodypart_id,type_id,result_id,action_id,type_name,result_name,bodypart_name,player_name
0,2499719,1,2.758649,1609,25413,51.45,34.68,32.55,14.96,177959171.0,0,0,1,0,pass,success,foot,A. Lacazette
1,2499719,1,4.946850,1609,370224,32.55,14.96,53.55,17.00,177959172.0,0,0,1,1,pass,success,foot,R. Holding
2,2499719,1,6.542188,1609,3319,53.55,17.00,36.75,19.72,177959173.0,1,0,1,2,pass,success,head,M. Özil
3,2499719,1,8.143395,1609,120339,36.75,19.72,43.05,3.40,177959174.0,1,0,1,3,pass,success,head,Mohamed Elneny
4,2499719,1,10.302366,1609,167145,43.05,3.40,75.60,8.16,177959175.0,0,0,1,4,pass,success,foot,Bellerín
5,2499719,1,12.548934,1609,3319,75.60,8.16,80.85,17.00,177959177.0,0,0,0,5,pass,fail,foot,M. Özil
6,2499719,1,13.961228,1631,8653,24.15,51.00,40.95,57.80,177959186.0,1,0,1,6,pass,success,head,H. Maguire
7,2499719,1,15.320341,1609,167145,70.35,13.60,70.35,13.60,177959178.0,0,10,1,7,interception,success,foot,Bellerín
8,2499719,1,15.320341,1609,167145,70.35,13.60,61.95,26.52,177959178.0,1,0,1,8,pass,success,head,Bellerín
9,2499719,1,18.051875,1609,49876,61.95,26.52,47.25,37.40,177959179.0,1,0,1,9,pass,success,head,G. Xhaka

In [62]:
df = pd.DataFrame()

for country in ["England", "Spain", "Italy", "France", "Germany"]:
    c_df = pd.read_csv(f"{PATH}{country}.csv", index_col=0)
    df = pd.concat([df, c_df])

df.head()

,game_id,period_id,time_seconds,team_id,player_id,start_x,start_y,end_x,end_y,original_event_id,bodypart_id,type_id,result_id,action_id,type_name,result_name,bodypart_name,player_name
0,2499719,1,2.758649,1609,25413,51.45,34.68,32.55,14.96,177959171.0,0,0,1,0,pass,success,foot,A. Lacazette
1,2499719,1,4.946850,1609,370224,32.55,14.96,53.55,17.00,177959172.0,0,0,1,1,pass,success,foot,R. Holding
2,2499719,1,6.542188,1609,3319,53.55,17.00,36.75,19.72,177959173.0,1,0,1,2,pass,success,head,M. Özil
3,2499719,1,8.143395,1609,120339,36.75,19.72,43.05,3.40,177959174.0,1,0,1,3,pass,success,head,Mohamed Elneny
4,2499719,1,10.302366,1609,167145,43.05,3.40,75.60,8.16,177959175.0,0,0,1,4,pass,success,foot,Bellerín

In [63]:
sorted_df = (
    df.groupby(["game_id", "period_id"])
    .apply(lambda x: x.sort_values(by="time_seconds"))
    .reset_index(drop=True)
)

/tmp/ipykernel_9420/2646718250.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.sort_values(by="time_seconds"))

In [64]:
type_id_list = (
    sorted_df.groupby(["game_id", "period_id"])["type_id"].apply(list).reset_index(name="type_id_list")
)
type_id_list

      game_id  period_id                                       type_id_list
0     2499719          1  [0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 21, 0, 0, 0...
1     2499719          2  [0, 0, 0, 10, 0, 2, 0, 0, 0, 0, 0, 0, 10, 18, ...
2     2499720          1  [0, 0, 0, 0, 0, 0, 0, 0, 18, 2, 0, 0, 10, 9, 0...
3     2499720          2  [0, 0, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 22, 18, ...
4     2499721          1  [0, 0, 0, 10, 0, 0, 0, 0, 2, 0, 0, 2, 0, 21, 0...
...       ...        ...                                                ...
3647  2576336          2  [0, 0, 0, 21, 0, 0, 0, 0, 0, 0, 0, 21, 0, 8, 4...
3648  2576337          1  [0, 0, 0, 8, 4, 18, 2, 0, 0, 0, 0, 11, 10, 5, ...
3649  2576337          2  [0, 0, 0, 0, 0, 21, 0, 4, 0, 21, 0, 0, 10, 21,...
3650  2576338          1  [0, 0, 0, 2, 0, 0, 1, 0, 0, 0, 8, 4, 0, 0, 2, ...
3651  2576338          2  [0, 0, 0, 10, 21, 0, 0, 0, 0, 21, 0, 0, 0, 0, ...

[3652 rows x 3 columns]

In [65]:
# sequencias de jogadas de todos os jogos
# a ideia é filtrar depois para sequencias que precedem um gol
sequences = type_id_list["type_id_list"].to_list()
sequences = [sequences]

In [66]:
from sequence_mining.spam import SpamAlgo

""" algo = SpamAlgo(0.7)
algo.spam(sequences)
# print mined sequences
print(algo.frequent_items) """

' algo = SpamAlgo(0.7)\nalgo.spam(sequences)\n# print mined sequences\nprint(algo.frequent_items) '

In [77]:
grouped = sorted_df.groupby(["game_id", "period_id"])

result_list = []

# Iterate over each group
for (game_id, period_id), group in grouped:
    # Sort the group by time_seconds
    group = group.sort_values(by="time_seconds")

    # Find rows where type_name is 'shot' and result_name is 'success'
    success_shots = group[
        (group["type_name"] == "shot") & (group["result_name"] == "success")
    ]

    for idx, success_row in success_shots.iterrows():
        # Find rows of the same team before the successful shot
        team_id = success_row["team_id"]
        time_seconds = success_row["time_seconds"]

        prior_events = group[group["time_seconds"] <= time_seconds][::-1]

        type_ids = []
        for _, event in prior_events.iterrows():
            if event["team_id"] != team_id:
                break
            type_ids.append(
                event["type_id"]
            )  # Filter rows of the same team before the successful shot
        prior_events = group[
            (group["team_id"] == team_id) & (group["time_seconds"] < time_seconds)
        ]

        # Extract the type_ids
        type_ids = prior_events["type_id"].tolist()
        result_list.append(type_ids)

print(len(result_list))

4271

In [80]:
# results list é as sequencias antes de gols
result_list

[0,
 0,
 0,
 0,
 0,
 0,
 10,
 0,
 0,
 0,
 21,
 0,
 0,
 0,
 0,
 21,
 7,
 4,
 0,
 0,
 0,
 0,
 1,
 11,
 0,
 18,
 22,
 0,
 4,
 0,
 0,
 10,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 7,
 21,
 11,
 18,
 10,
 18,
 22,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 8,
 10,
 18,
 0,
 0,
 7,
 21,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 21,
 0,
 0,
 11,
 0,
 21,
 2,
 0,
 0,
 0,
 18,
 0,
 2,
 4,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 10,
 4,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 21,
 0,
 0,
 0,
 21,
 1,
 8,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 21,
 0,
 7,
 4,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 21,
 0,
 21,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 11,
 0,
 0,
 11,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 21,
 0,
 0,
 7,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 8,
 4,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 7,
 0,
 0,
 11,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 21,
 0,
 0,
 11,
 6,
 11,
 10,
 0,
 0,
 0,
 10,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 21,
 0,
 0,
 0,
 0,
 21,
 1,
 2,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 10,
 0,
 2,
 10,
 0,
 0,
 0,
 0,
 0,
 21,
 0,
 10,
 0,
 0,
 21,
 0,
 22,
 0,
 0,
 0,
 0,
 21,
 0,
 4,
 0,
 10,
 0,
 0,
 7,
 10,
 18,
 0,
 4,
 0,
 22,
 0,
 0,
 0,
 0,
 0,
 21,
 0,
 0,
 0,
 4,
 11,
 0,
 2,
 0,
 0,
 0,
 21,
 0,
 21,
 0,
 10,
 18,
 18,
 0,
 0,
 21,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 6,
 0,
 0,
 1,
 21,
 1,
 6,
 0,
 0,
 0,
 21,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 18,
 10,
 18,
 10,
 18,
 0,
 18,
 10,
 0,
 4,
 0,
 0,
 0,
 0,
 21,
 0,
 9,
 4,
 0,
 0,
 0,
 0,
 0,
 21,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 11,
 0]