# Exploratory Data Analysys

In [39]:
import pandas as pd
import numpy as np
import os
import matplotsoccer
import math

In [40]:
# constants

PATH: str = "../data/spadl_format/"
LEAGUES: list[str] = ["England", "Spain", "France", "Italy", "Germany"]

In [41]:
teams_df = pd.read_json("../data/wyscout/teams/teams.json")
teams_df

,city,name,wyId,officialName,area,type
0,Newcastle upon Tyne,Newcastle United,1613,Newcastle United FC,"{'name': 'England', 'id': '0', 'alpha3code': '...",club
1,Vigo,Celta de Vigo,692,Real Club Celta de Vigo,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
2,Barcelona,Espanyol,691,Reial Club Deportiu Espanyol,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
3,Vitoria-Gasteiz,Deportivo Alav\u00e9s,696,Deportivo Alav\u00e9s,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
4,Valencia,Levante,695,Levante UD,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
...,...,...,...,...,...,...
137,Las Rozas,Spain,1598,Spain,"{'name': 'Spain', 'id': 724, 'alpha3code': 'ES...",national
138,Beograd,Serbia,17322,Serbia,"{'name': 'Serbia', 'id': 688, 'alpha3code': 'S...",national
139,Bern,Switzerland,6697,Switzerland,"{'name': 'Switzerland', 'id': 756, 'alpha3code...",national
140,Warszawa,Poland,13869,Poland,"{'name': 'Poland', 'id': 616, 'alpha3code': 'P...",national
141,Abuja,Nigeria,16823,Nigeria,"{'name': 'Nigeria', 'id': 566, 'alpha3code': '...",national

In [42]:
df_dict = {}
for league in LEAGUES:
    df = pd.read_csv(f"{PATH}{league}.csv", index_col=0)

    # remove not used columns
    df.drop(["original_event_id", "type_name", "result_id", "bodypart_name", "bodypart_id"], inplace=True, axis=1)

    # create column with discretized positions
    # 0 is defense, 1 is midfield and 2 is attack
    df["position"] = df["start_x"].apply(lambda x: 0 if x <= 35 else 1 if x <= 70 else 2)

    # create columns with dists between start and end of play. Most important for passes right now
    def calc_dist(row):
        return math.sqrt(math.pow(row["start_x"] - row["end_x"], 2) + math.pow(row["start_y"] - row["end_y"], 2))

    df["distance"] = df.apply(calc_dist, axis=1)
    df_dict[league] = df

In [43]:
for league in LEAGUES:
    df=df_dict[league]
    vals = {}
    for team_id in df["team_id"].unique():
        aux_df = df[(df["team_id"] == team_id) & (df["type_id"] == 0) & (df["result_name"] == "success")].describe()
        vals[team_id] = aux_df["distance"].iloc[1]
    vals = {k: v for k, v in sorted(vals.items(), key=lambda item: item[1])}
    print(league)
    for k, v in vals.items():
        team_name = teams_df[teams_df["wyId"] == k]["officialName"].iloc[0]
        print(team_name + ": " + str(v))

England
Manchester City FC: 17.208294705045727
Arsenal FC: 17.729418216599584
Manchester United FC: 17.82323168977544
AFC Bournemouth: 18.416690138870038
Tottenham Hotspur FC: 18.49016291527559
Crystal Palace FC: 18.55517231543003
Chelsea FC: 18.682360085097265
Southampton FC: 18.80086498340964
Liverpool FC: 18.808336452956677
West Ham United FC: 18.832440595084144
Watford FC: 18.966950078343636
Newcastle United FC: 18.972262064832034
Swansea City AFC: 19.077093616506826
Leicester City FC: 19.188863825446003
Huddersfield Town FC: 19.214874210487316
Stoke City FC: 19.690287465628373
West Bromwich Albion FC: 19.712070043795737
Everton FC: 19.785332507800135
Brighton & Hove Albion FC: 19.83836518037719
Burnley FC: 20.6337458098742
Spain
Club Atl\u00e9tico de Madrid: 17.58148956397191
FC Barcelona: 17.618442299406397
UD Las Palmas: 17.864495605281746
Real Madrid Club de F\u00fatbol: 17.904624229104698
Sevilla FC: 18.06959657763688
Real Betis Balompi\u00e9: 18.65881369540685
Villarreal Club de F\u00fatbol: 18.70326582679574
Real Club Deportivo de La Coru\u00f1a: 18.990035438740023
Reial Club Deportiu Espanyol: 19.017944183655864
Real Sociedad de F\u00fatbol: 19.05119651555479
Valencia Club de F\u00fatbol: 19.089511592542387
Deportivo Alav\u00e9s: 19.22513231796017
Real Club Celta de Vigo: 19.323812894463856
CD Legan\u00e9s: 19.33953895394111
Levante UD: 19.35343883106314
M\u00e1laga Club de F\u00fatbol: 19.526710001998776
Girona FC: 20.132946961483153
Athletic Club Bilbao: 20.13733873400046
Getafe Club de F\u00fatbol: 20.60827047779083
SD Eibar: 20.98214657686652
France
Paris Saint-Germain FC: 17.20541070712552
O.G.C. Nice C\u00f4te d'Azur: 17.92322833408111
Olympique de Marseille: 17.97721764721963
Lille OSC M\u00e9tropole: 17.99906099130344
En Avant Guingamp: 18.00766553913829
AS Saint-\u00c9tienne: 18.32029138935646
Olympique Lyonnais: 18.377444826949045
Angers SCO: 18.413839067803018
FC Nantes: 18.543560108584323
Amiens SC: 18.570456823936393
Esp\u00e9rance Sportive Troyes Aube Champagne: 18.6040337556351
FC Girondins de Bordeaux: 18.62121940821842
AS Monaco FC: 19.09894711756418
Stade Rennais FC: 19.1414002889422
FC Metz: 19.266274660516633
RC Strasbourg Alsace: 19.424486386630758
Montpellier HSC: 19.59234726478027
Toulouse FC: 19.676782714723064
Stade Malherbe Caen: 19.805300275210392
Dijon FCO: 19.913355882588874
Italy
SSC Napoli: 16.86401986437127
FC Internazionale Milano: 17.370182415314755
UC Sampdoria: 17.98006527377371
AC Milan: 18.513688763317123
Torino FC: 18.56449948265465
Benevento Calcio: 18.613056292408995
ACF Fiorentina: 18.65413442218915
AC Chievo Verona: 18.705926178058455
SS Lazio: 18.71171706794866
Atalanta Bergamasca Calcio: 18.75689832536618
AS Roma: 18.759204020025543
Societ\u00e0 Polisportiva Ars et Labor 2013: 18.762639582866097
Genoa CFC: 18.889515723038265
Cagliari Calcio: 18.896685777000823
Juventus FC: 18.983100141168567
Udinese Calcio: 19.04334007595673
Bologna FC 1909: 19.05591287996619
FC Crotone: 19.102539013886297
Hellas Verona FC: 19.201850082433527
US Sassuolo Calcio: 19.64563268598385
Germany
Rasen Ballsport Leipzig: 18.12333922270929
TSV Bayer 04 Leverkusen: 18.319082224155302
BV Borussia 09 Dortmund: 18.3861534294937
Borussia VfL M\u00f6nchengladbach: 18.648236000678743
FC Bayern M\u00fcnchen: 18.83535246198951
TSG 1899 Hoffenheim: 19.136350656532308
FC Schalke 04: 19.25475249399921
Hannover 96: 19.26907457215873
VfB Stuttgart 1893: 19.616463757324798
1. FC K\u00f6ln: 19.625688814973593
Hertha BSC: 19.762082506207097
Hamburger SV: 19.83371983001362
VfL Wolfsburg: 19.836122251164785
SV Werder Bremen: 19.8828072867746
1. FSV Mainz 05: 19.88431335865311
SC Freiburg: 19.903781213215726
FC Augsburg: 20.22832341838926
Eintracht Frankfurt: 20.60579110372748

In [44]:
vals

{2975: 18.12333922270929,
 2446: 18.319082224155302,
 2447: 18.3861534294937,
 2454: 18.648236000678743,
 2444: 18.83535246198951,
 2482: 19.136350656532308,
 2449: 19.25475249399921,
 2455: 19.26907457215873,
 2445: 19.616463757324798,
 2463: 19.625688814973593,
 2457: 19.762082506207097,
 2450: 19.83371983001362,
 2451: 19.836122251164785,
 2443: 19.8828072867746,
 2460: 19.88431335865311,
 2453: 19.903781213215726,
 2481: 20.22832341838926,
 2462: 20.60579110372748}

In [45]:
df[(df["team_id"] == 1625) & (df["position"] == 2)] # fuck yes

Empty DataFrame
Columns: [game_id, period_id, time_seconds, team_id, player_id, start_x, start_y, end_x, end_y, type_id, action_id, result_name, player_name, position, distance]
Index: []

In [46]:
df = df.groupby(["game_id"])