# Exploratory Data Analysys

In [1]:
import pandas as pd
import numpy as np
import os
import matplotsoccer
import math

In [2]:
# constants

PATH: str = "../data/spadl_format/"
LEAGUES: list[str] = ["England", "Spain", "France", "Italy", "Germany"]

In [3]:
teams_df = pd.read_json("../data/wyscout/teams/teams.json")
teams_df

,city,name,wyId,officialName,area,type
0,Newcastle upon Tyne,Newcastle United,1613,Newcastle United FC,"{'name': 'England', 'id': '0', 'alpha3code': '...",club
1,Vigo,Celta de Vigo,692,Real Club Celta de Vigo,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
2,Barcelona,Espanyol,691,Reial Club Deportiu Espanyol,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
3,Vitoria-Gasteiz,Deportivo Alav\u00e9s,696,Deportivo Alav\u00e9s,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
4,Valencia,Levante,695,Levante UD,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
...,...,...,...,...,...,...
137,Las Rozas,Spain,1598,Spain,"{'name': 'Spain', 'id': 724, 'alpha3code': 'ES...",national
138,Beograd,Serbia,17322,Serbia,"{'name': 'Serbia', 'id': 688, 'alpha3code': 'S...",national
139,Bern,Switzerland,6697,Switzerland,"{'name': 'Switzerland', 'id': 756, 'alpha3code...",national
140,Warszawa,Poland,13869,Poland,"{'name': 'Poland', 'id': 616, 'alpha3code': 'P...",national
141,Abuja,Nigeria,16823,Nigeria,"{'name': 'Nigeria', 'id': 566, 'alpha3code': '...",national

In [4]:
df_dict = {}
if not os.path.exists("../data/processed/"):
    os.mkdir("../data/processed")
for league in LEAGUES:
    if os.path.exists(f"../data/processed/{league}.csv"):
        df_dict[league] = pd.read_csv(f"../data/processed/{league}.csv")
        continue
    df = pd.read_csv(f"{PATH}{league}.csv", index_col=0)

    # remove not used columns
    df.drop(["original_event_id", "type_name", "result_id", "bodypart_name", "bodypart_id"], inplace=True, axis=1)

    # create column with discretized positions
    # 0 is defense, 1 is midfield and 2 is attack
    df["position"] = df["start_x"].apply(lambda x: 0 if x <= 35 else 1 if x <= 70 else 2)

    # create column with dists between start and end of play. Most important for passes right now
    def calc_dist(row):
        return math.sqrt(math.pow(row["start_x"] - row["end_x"], 2) + math.pow(row["start_y"] - row["end_y"], 2))
    
    # create column with duration of event
    for i in range(df.shape[0]):
        df.loc[i, "duration"] = df.loc[(i+1)%df.shape[0], "time_seconds"] - df.loc[i, "time_seconds"]

    df["distance"] = df.apply(calc_dist, axis=1)
    df_dict[league] = df
    df.to_csv(f"../data/processed/{league}.csv", index=None)

In [11]:
for league in LEAGUES:
    df=df_dict[league]
    vals = {}
    for team_id in df["team_id"].unique():
        aux_df = df[(df["team_id"] == team_id) & (df["type_id"] == 0) & (df["result_name"] == "success")].describe()
        vals[team_id] = aux_df["distance"].iloc[1]
    vals = {k: v for k, v in sorted(vals.items(), key=lambda item: item[1])}
    print(league)
    for k, v in vals.items():
        team_name = teams_df[teams_df["wyId"] == k]["officialName"].iloc[0]
        print(team_name + ": " + str(v))

England
Manchester City FC: 17.208294705045727
Arsenal FC: 17.729418216599584
Manchester United FC: 17.82323168977544
AFC Bournemouth: 18.416690138870038
Tottenham Hotspur FC: 18.49016291527559
Crystal Palace FC: 18.55517231543003
Chelsea FC: 18.682360085097265
Southampton FC: 18.80086498340964
Liverpool FC: 18.808336452956677
West Ham United FC: 18.832440595084144
Watford FC: 18.966950078343636
Newcastle United FC: 18.972262064832034
Swansea City AFC: 19.077093616506826
Leicester City FC: 19.188863825446003
Huddersfield Town FC: 19.214874210487316
Stoke City FC: 19.690287465628373
West Bromwich Albion FC: 19.712070043795737
Everton FC: 19.785332507800135
Brighton & Hove Albion FC: 19.83836518037719
Burnley FC: 20.6337458098742
Spain
Club Atl\u00e9tico de Madrid: 17.58148956397191
FC Barcelona: 17.618442299406397
UD Las Palmas: 17.864495605281746
Real Madrid Club de F\u00fatbol: 17.904624229104698
Sevilla FC: 18.06959657763688
Real Betis Balompi\u00e9: 18.65881369540685
Villarreal Club de F\u00fatbol: 18.703265826795743
Real Club Deportivo de La Coru\u00f1a: 18.990035438740023
Reial Club Deportiu Espanyol: 19.017944183655864
Real Sociedad de F\u00fatbol: 19.05119651555479
Valencia Club de F\u00fatbol: 19.089511592542387
Deportivo Alav\u00e9s: 19.22513231796017
Real Club Celta de Vigo: 19.323812894463856
CD Legan\u00e9s: 19.33953895394111
Levante UD: 19.35343883106314
M\u00e1laga Club de F\u00fatbol: 19.526710001998776
Girona FC: 20.132946961483153
Athletic Club Bilbao: 20.13733873400046
Getafe Club de F\u00fatbol: 20.60827047779083
SD Eibar: 20.98214657686652
France
Paris Saint-Germain FC: 17.20541070712552
O.G.C. Nice C\u00f4te d'Azur: 17.92322833408111
Olympique de Marseille: 17.97721764721963
Lille OSC M\u00e9tropole: 17.99906099130344
En Avant Guingamp: 18.00766553913829
AS Saint-\u00c9tienne: 18.32029138935646
Olympique Lyonnais: 18.377444826949045
Angers SCO: 18.413839067803018
FC Nantes: 18.543560108584323
Amiens SC: 18.570456823936393
Esp\u00e9rance Sportive Troyes Aube Champagne: 18.6040337556351
FC Girondins de Bordeaux: 18.621219408218415
AS Monaco FC: 19.09894711756418
Stade Rennais FC: 19.1414002889422
FC Metz: 19.26627466051663
RC Strasbourg Alsace: 19.424486386630758
Montpellier HSC: 19.592347264780265
Toulouse FC: 19.676782714723064
Stade Malherbe Caen: 19.805300275210392
Dijon FCO: 19.913355882588874
Italy
SSC Napoli: 16.86401986437127
FC Internazionale Milano: 17.370182415314755
UC Sampdoria: 17.98006527377371
AC Milan: 18.51368876331712
Torino FC: 18.56449948265465
Benevento Calcio: 18.613056292408995
ACF Fiorentina: 18.65413442218915
AC Chievo Verona: 18.705926178058455
SS Lazio: 18.71171706794866
Atalanta Bergamasca Calcio: 18.75689832536618
AS Roma: 18.759204020025543
Societ\u00e0 Polisportiva Ars et Labor 2013: 18.762639582866097
Genoa CFC: 18.889515723038265
Cagliari Calcio: 18.896685777000823
Juventus FC: 18.983100141168567
Udinese Calcio: 19.04334007595673
Bologna FC 1909: 19.05591287996619
FC Crotone: 19.1025390138863
Hellas Verona FC: 19.201850082433527
US Sassuolo Calcio: 19.64563268598385
Germany
Rasen Ballsport Leipzig: 18.12333922270929
TSV Bayer 04 Leverkusen: 18.319082224155302
BV Borussia 09 Dortmund: 18.3861534294937
Borussia VfL M\u00f6nchengladbach: 18.648236000678743
FC Bayern M\u00fcnchen: 18.83535246198951
TSG 1899 Hoffenheim: 19.136350656532308
FC Schalke 04: 19.25475249399921
Hannover 96: 19.269074572158726
VfB Stuttgart 1893: 19.616463757324798
1. FC K\u00f6ln: 19.625688814973593
Hertha BSC: 19.762082506207097
Hamburger SV: 19.83371983001362
VfL Wolfsburg: 19.836122251164785
SV Werder Bremen: 19.8828072867746
1. FSV Mainz 05: 19.884313358653113
SC Freiburg: 19.903781213215726
FC Augsburg: 20.22832341838926
Eintracht Frankfurt: 20.60579110372748

In [6]:
df_dict["England"]

,game_id,period_id,time_seconds,team_id,player_id,start_x,start_y,end_x,end_y,type_id,action_id,result_name,player_name,position,duration,distance
0,2499719,1,2.758649,1609,25413,51.45,34.68,32.55,14.96,0,0,success,A. Lacazette,1,2.188201,27.314619
1,2499719,1,4.946850,1609,370224,32.55,14.96,53.55,17.00,0,1,success,R. Holding,0,1.595338,21.098853
2,2499719,1,6.542188,1609,3319,53.55,17.00,36.75,19.72,0,2,success,M. Özil,1,1.601207,17.018766
3,2499719,1,8.143395,1609,120339,36.75,19.72,43.05,3.40,0,3,success,Mohamed Elneny,1,2.158971,17.493782
4,2499719,1,10.302366,1609,167145,43.05,3.40,75.60,8.16,0,4,success,Bellerín,1,2.246568,32.896202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483894,2500098,2,2785.702032,1633,20620,55.65,7.48,103.95,19.04,0,1136,success,Pedro Obiang,1,3.530634,49.664108
483895,2500098,2,2789.232666,1633,14703,103.95,19.04,103.95,19.04,1,1137,fail,M. Arnautović,2,1.225276,0.000000
483896,2500098,2,2790.457942,1623,8239,2.10,46.92,0.00,46.24,10,1138,success,L. Baines,0,39.363142,2.207351
483897,2500098,2,2829.821084,1633,70965,105.00,0.00,92.40,36.04,5,1139,success,João Mário,2,4.306084,38.179073
483898,2500098,2,2834.127168,1633,8005,90.30,34.00,105.00,27.20,11,1140,fail,J. Collins,2,-2831.368519,16.196605

In [9]:
for league in LEAGUES:
    df=df_dict[league]
    vals = {}
    for team_id in df["team_id"].unique():
        aux_df = df[(df["team_id"] == team_id) & (df["type_id"] == 0) & (df["result_name"] == "success")].describe()
        vals[team_id] = aux_df["duration"].iloc[1]
    vals = {k: v for k, v in sorted(vals.items(), key=lambda item: item[1])}
    print(league)
    for k, v in vals.items():
        team_name = teams_df[teams_df["wyId"] == k]["officialName"].iloc[0]
        print(team_name + ": " + str(v))

England
Tottenham Hotspur FC: 1.6378525041846883
AFC Bournemouth: 1.7930905019807573
Brighton & Hove Albion FC: 1.991499973453723
Manchester City FC: 2.0340143939805446
Burnley FC: 2.1015325735489125
Arsenal FC: 2.2259105625667637
Stoke City FC: 2.2456200968822064
Chelsea FC: 2.274329910385452
Liverpool FC: 2.440681431206906
Southampton FC: 2.4967042050273434
Swansea City AFC: 2.5673903908012847
West Ham United FC: 2.5711770674786956
West Bromwich Albion FC: 2.5738686169342135
Watford FC: 2.6765755990203517
Crystal Palace FC: 2.6861945000466423
Newcastle United FC: 2.6923665989275887
Everton FC: 2.8115946104001455
Leicester City FC: 2.828976151683904
Huddersfield Town FC: 2.874371302605393
Manchester United FC: 2.8743951779470693
Spain
Getafe Club de F\u00fatbol: 1.2928867230858918
Reial Club Deportiu Espanyol: 1.39373352478197
Levante UD: 1.8192153886199804
Club Atl\u00e9tico de Madrid: 1.8631654020762756
CD Legan\u00e9s: 2.1128631979654906
Real Club Celta de Vigo: 2.113092668496782
FC Barcelona: 2.1134295147466786
Real Club Deportivo de La Coru\u00f1a: 2.2312231354735284
Real Sociedad de F\u00fatbol: 2.3782474422576345
M\u00e1laga Club de F\u00fatbol: 2.40762719347209
Athletic Club Bilbao: 2.4190425047347675
Real Madrid Club de F\u00fatbol: 2.4263050509890682
Sevilla FC: 2.4852728431970323
Real Betis Balompi\u00e9: 2.527962822149058
Girona FC: 2.581004222108304
UD Las Palmas: 2.5848760328383964
SD Eibar: 2.6203163008860866
Villarreal Club de F\u00fatbol: 2.688064780967532
Valencia Club de F\u00fatbol: 2.761668725821237
Deportivo Alav\u00e9s: 2.786126492815929
France
AS Monaco FC: 1.551377574744626
Toulouse FC: 1.628891352635263
Olympique Lyonnais: 1.726934312085369
Stade Rennais FC: 1.7792250517711166
Montpellier HSC: 1.8109977991931463
Angers SCO: 1.9953800065823224
Esp\u00e9rance Sportive Troyes Aube Champagne: 1.9965904976262203
FC Metz: 2.0069731255719594
FC Nantes: 2.195902991197182
Dijon FCO: 2.2406585878938645
Lille OSC M\u00e9tropole: 2.2498378338453326
Paris Saint-Germain FC: 2.3236746717872485
Amiens SC: 2.520151540864689
En Avant Guingamp: 2.5455145312747427
AS Saint-\u00c9tienne: 2.582932201275846
RC Strasbourg Alsace: 2.5892160281873347
FC Girondins de Bordeaux: 2.6008168008978663
O.G.C. Nice C\u00f4te d'Azur: 2.628569152227326
Olympique de Marseille: 2.7179849627652866
Stade Malherbe Caen: 2.846143495429272
Italy
Cagliari Calcio: 1.600295897731412
US Sassuolo Calcio: 1.6553017104368943
FC Crotone: 1.7433711776593506
Bologna FC 1909: 1.9002336364257566
Societ\u00e0 Polisportiva Ars et Labor 2013: 2.0055509486313703
Genoa CFC: 2.0398291463865816
Atalanta Bergamasca Calcio: 2.075419684315748
AS Roma: 2.1154941179268887
Juventus FC: 2.175121999814727
Torino FC: 2.2418681294802516
SSC Napoli: 2.257576720251935
Udinese Calcio: 2.2649728947862413
AC Chievo Verona: 2.27083959850979
Hellas Verona FC: 2.2863173075684364
AC Milan: 2.39429918592557
FC Internazionale Milano: 2.4698825138761205
UC Sampdoria: 2.5472972159636944
Benevento Calcio: 2.5825356943251516
SS Lazio: 2.604166042991521
ACF Fiorentina: 2.740483019168315
Germany
FC Schalke 04: 1.9853630782185312
1. FC K\u00f6ln: 2.076589791360631
Hamburger SV: 2.182626864835615
1. FSV Mainz 05: 2.2204207697488947
VfB Stuttgart 1893: 2.256645315684714
FC Bayern M\u00fcnchen: 2.2986630613310477
Hertha BSC: 2.475637727028502
TSV Bayer 04 Leverkusen: 2.4826803146586487
Rasen Ballsport Leipzig: 2.4989828355569346
TSG 1899 Hoffenheim: 2.506243654856563
VfL Wolfsburg: 2.5230004761824443
SC Freiburg: 2.6166153653147397
SV Werder Bremen: 2.696731044787009
BV Borussia 09 Dortmund: 2.7368036867843957
Hannover 96: 2.7579400644221925
Borussia VfL M\u00f6nchengladbach: 2.767562314425355
FC Augsburg: 2.8581664962552917
Eintracht Frankfurt: 3.198384795838444